[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-athena-community = "==1.9.2"
pre-commit = {version = ">=4.2.0", markers = "python_version >= '3.12'"}
sqlfluff = "*"
sqlfluff-templater-dbt = "*"

[dev-packages]

[requires]
python_version = "3.13"
